matplotlib==3.11.1
numpy==1.26.4
pandas==2.3.3
scikit-learn==1.9.0
scikit-learn-extra==0.3.0
setuptools==84.0.0
umap-learn==0.5.12
cca-zoo==3.1.1
seaborn==0.13.2
ReliefF==0.1.2
keras==3.15.1
torch==2.13.0
jupyter==1.1.1
